<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netanel.logservice">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".LogService">
            <intent-filter>
                <action android:name="com.netanel.logservice.ILogService" />
            </intent-filter>
        </service>
    </application>

</manifest>